.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

h3, h4 {
  margin: 10px 0;
}

.itens-pedido {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.produto-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.info-item p {
  margin: 2px 0;
}

.status {
  font-weight: bold;
}

.status.pendente { color: orange; }
.status.processando { color: blue; }
.status.enviado { color: green; }
.status.cancelado { color: red; }


.botoes-modal {
  display: flex;
  justify-content: flex-end; /* botão alinhado à direita */
  margin-top: 20px;
}

.botoes-modal button {
  color: #f28444;
  border-radius: 30px;
  padding: 13px 25px;
  transition: all 0.3s ease;
  background: white;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border: 1px, solid, #ccc;


}

.botoes-modal button:hover {
  transform: translateY(-2px); /* leve efeito de elevação ao passar o mouse */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
