.footer {
  background-color: #222;
  color: white;
  padding: 30px 20px;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.payment-icons img{
  width: 30px;   /* largura da imagem */
  height: 30px;  /* mantém proporção */
  margin-right: 10px;
  object-fit: contain; /* mantém proporção sem cortar */

}

.payment-icons {
  margin-left: 40px;
}

