<div class = "body">
  <div class="imagens-container">
    <div class="imagem1">
        <img src="assets\img\fotos-do-site\Banner-Site.jpg" alt="Banner do site">
    </div>

    <div class="banner-text">
     <h1>TODOS OS DISCOS</h1>
     <h1>QUE VOCÊ AMA</h1>
     <h1>EM UM SÓ LUGAR</h1>
     <button class="banner-button" routerLink="/loja">COMPRE JÁ</button>
    </div>

</div>

    <div class="features">
      <div class="feature">
        <mat-icon>local_shipping</mat-icon> <!-- carrinho/caminhão -->
        <span><br>FRETE GRÁTIS</span>
        <span><br>Confira Condições</span>
      </div>
      <div class="feature">
        <mat-icon> location_on</mat-icon> <!-- Localização-->
        <span><br>ENVIAMOS</span>
        <span><br>para todo Brasil</span>
      </div>
      <div class="feature">
        <mat-icon>credit_card</mat-icon> <!-- cartão -->
        <span><br>ATÉ 12X SEM JUROS</span>
        <span><br>10% Off no Boleto</span>
      </div>
      <div class="feature">
        <mat-icon>lock</mat-icon> <!-- cadeado -->
        <span><br>100% SEGURO</span>
        <span><br>Certificado SSL</span>
      </div>
    </div>

  <div *ngIf="!produtos.length"> <br> <br> <br> <br> <br> <br> </div>

<div class="produtos" *ngIf="produtos.length">
  <h1 class=" title2">Produtos mais comprados</h1>

  <div class="produtos-lista">
    <app-produto-card
      *ngFor="let p of produtos"
      [produto]="p">
    </app-produto-card>
  </div>
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br>
</div>

