.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.campo {
  width: 100%;
}

.actions-form {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse;
}

mat-icon {
  vertical-align: middle;
}

