<br>
<!-- ===== Botão Voltar ===== -->
<div class="voltar-container">
  <button class="btn-voltar" (click)="voltarParaMinhaConta()">
    ← Voltar para Minha Conta
  </button>
</div>


<div class="editar-conta-container">
  <h2>Editar Minha Conta</h2>
  <form [formGroup]="contaForm" (ngSubmit)="salvar()">

    <!-- Nome -->
    <label>Nome:</label>
    <input type="text" formControlName="nome" placeholder="Digite seu nome">
    <div class="erro" *ngIf="contaForm.get('nome')?.invalid && contaForm.get('nome')?.touched">
      Nome obrigatório
    </div>

    <!-- Email -->
    <label>Email:</label>
    <input type="email" formControlName="email" placeholder="Digite seu email">
    <div class="erro" *ngIf="contaForm.get('email')?.invalid && contaForm.get('email')?.touched">
      Email inválido
    </div>

   <label>Senha:</label>
<div class="senha-container">
  <input
    [type]="hideSenha ? 'password' : 'text'"
    formControlName="senha"
    placeholder="Digite sua senha">

  <!-- Ícone para mostrar/esconder -->
  <button type="button" class="mostrar-senha-btn" (click)="toggleSenha()">
    <mat-icon>{{ hideSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</div>

<div class="erro" *ngIf="contaForm.get('senha')?.invalid && contaForm.get('senha')?.touched">
  Senha deve ter no mínimo 8 caracteres
</div>

    <!-- Endereço -->
    <label>Endereço:</label>
    <input type="text" formControlName="endereco" placeholder="Digite seu endereço">
    <div class="erro" *ngIf="contaForm.get('endereco')?.invalid && contaForm.get('endereco')?.touched">
      Endereço obrigatório
    </div>

    <button class ="salvar" type="submit" [disabled]="contaForm.invalid">Salvar</button>
  </form>
</div>

