.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.campo {
  width: 100%;
}

.upload {
  display: flex;
  justify-content: center;
}

.label-upload {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border: 1px dashed #999;
  border-radius: 6px;
}

.preview-imagem {
  margin-top: 16px;
  text-align: center;
}

.preview-imagem img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.button-color{
color: #f28444 !important;
}

