.adm-body {
  background-color: #f7f7f7;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 3rem;
}

.adm-body h2 {
  color: #f28444;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

.text-principal {
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}
///
.admin-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
  background-color: #f28444;
  border-radius: 10px;
}

.admin-card {
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 2rem 1.5rem;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-main-icon {
  font-size: 60px;
  color: #f28444; /* laranja principal */
  margin-bottom: 0.5rem;
}

.admin-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #000;
}

.admin-card p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.admin-card button {
  background-color: #f28444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.admin-card button:hover {
  background-color: #e67300; /* laranja mais escuro ao passar */
}
