.toolbar{
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 0px;
  overflow: hidden; /* evita que elementos vazem */
}

/* logo*/
.logo {
  width: 70px;
  height: auto;
  margin-left: 10px;
}

//Título//
.title{
  font-family: 'Arial', sans-serif; /* muda a fonte */
  font-size: 30px;                  /* tamanho da letra */
  color: #f28444;                   /* cor da letra */
  font-weight: bold;                 /* negrito */
  letter-spacing: 2px;               /* espaço entre letras */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* sombra */
}

.persson{
  color: white;
  cursor: pointer;
  font-size: 26px;
}

.persson:hover, .persson-item:hover{
  color: #f28444;
}

.persson-item{
  color: black;
}





/* botão voltar */
.btn-voltar mat-icon {
  font-size: 28px;
  color: #f28444;
  transition: transform 0.2s, color 0.2s;
}

.btn-voltar:hover mat-icon {
  transform: scale(1.2);
  color: #ff9e5d;
}

/* título interno */
.titulo-interna {
  font-size: 20px;
  font-weight: bold;
  margin-left: 16px;
  color: #fff;
  letter-spacing: 1px;
}

/* botão sair */
.btn-sair mat-icon {
  font-size: 28px;
  color: #f28444;
  transition: transform 0.2s, color 0.2s;
}


.btn-voltar{
  background-color: black;
  border: none;
  margin-left: 140px;
}

.btn-sair:hover mat-icon {
  transform: scale(1.2);
  color: #ff9e5d;
}

/* espaçador flex */
.spacer {
  flex: 1 1 auto;
}
