
/* Ícone de busca */
.campo-busca mat-icon {
  color: #f28444; // deixa o ícone laranja
}

.campo-busca {
  width: 100%;
  margin-bottom: 20px;
}

.lista-produtos {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.produto-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fafafa;
}

.produto-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.container-remover {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .campo-busca {
    width: 100%;
    margin-bottom: 20px;
  }

  .lista-produtos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .produto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;

    .produto-img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 4px;
    }

    .produto-info {
      flex: 1;
      margin-left: 15px;

      h3 {
        margin: 0 0 5px 0;
      }

      p {
        margin: 2px 0;
      }
    }
  }

  .nenhum {
    text-align: center;
    color: #888;
    margin-top: 20px;
  }

  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      width: 90%;
      max-width: 400px;
      text-align: center;

      .botoes-modal {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.button-color{
  color: #f28444 !important;
}




 .loading-spinner {
  display: flex;
  justify-content: center;  /* centraliza horizontalmente */
  align-items: center;      /* centraliza verticalmente */
  width: 100%;              /* ocupa toda a largura disponível */
  height: 200px;            /* altura desejada */
}

::ng-deep mat-spinner circle {
  stroke: #f28444;  // Força a cor laranja
}

.alert-sucesso {
  position: fixed;
  top: 80px;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
  z-index: 1000;
  animation: slideIn .3s ease;
   background-color: #d4edda;
  color: #155724;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.close-msg {
  background: transparent;
  border: none;
  cursor: pointer;
}
