.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.campo {
  width: 100%;
}

.actions-form {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse;
}

mat-icon {
  vertical-align: middle;
}

td.acoes, th.acoes {
  text-align: right; /* Alinha o conteúdo da coluna à direita */
  padding-right: 16px; /* Ajuste se quiser mais espaço da borda */
}

td.acoes button {
  margin-left: 8px; /* Espaço entre os botões */
}

.button-color{
   color: #f28444 !important;
}


