<app-navbar-interno-adm></app-navbar-interno-adm>

<div class="container-listaProdutos">

  <h2>Lista de Produtos</h2>

  <!-- Campo para buscar produto -->
  <mat-form-field appearance="outline" class="campo-busca">
    <mat-label>Buscar produto</mat-label>
    <input matInput placeholder="Digite o nome do produto" [(ngModel)]="buscaProduto"
      (input)="filtrarProdutos()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Lista de produtos filtrados -->
  <div class="lista-produtos" *ngIf="produtosFiltrados.length > 0">
    <div class="produto-item" *ngFor="let produto of produtosFiltrados">

      <img [src]="produto.imagemUrl" alt="Imagem" class="produto-img">

      <div class="produto-info">
        <h3>{{ produto.nome }}</h3>
        <p><strong>Preço:</strong> R$ {{ produto.preco | number:'1.2-2' }}</p>
        <p><strong>Gênero Musical:</strong> {{ produto.generoMusical.nome }}</p>
        <p><strong>Estoque:</strong> {{ produto.estoque }}</p>
      </div>
    </div>
  </div>

  <!-- Nenhum resultado -->
  <p class="nenhum" *ngIf="buscaProduto && produtosFiltrados.length === 0">
    Nenhum produto encontrado.
  </p>

</div>

