<mat-toolbar class="toolbar">
  <!-- Logo -->
  <img src="assets/img/fotos-do-site/logo.png" alt="Logo" class="logo">

  <!-- Título -->
  <span class="title">Onda</span>

  <!-- Botões do meio -->
  <div class="button-escolha">
    <button routerLink="/home"><span>HOME</span></button>
    <button routerLink="/loja"><span>LOJA</span></button>
    <button class="desktop-only" routerLink="/sobre"><span>SOBRE</span></button>
    <button class="desktop-only" routerLink="/contato"><span>CONTATO</span></button>
  </div>

  <!-- Ícones se NAO estiver logado -->
  <div class="icones-escolha" *ngIf="!(validarService.isLogado$ | async)">
    <button class="persson-button" mat-icon-button [matMenuTriggerFor]="menuPublico">
      <mat-icon class="persson">account_circle</mat-icon>
    </button>

    <mat-menu #menuPublico="matMenu">
      <button class="persson-item" routerLink="/login" mat-menu-item>Login</button>
      <button class="persson-item" routerLink="/cadastro" mat-menu-item>Cadastrar</button>
    </mat-menu>
  </div>

  <!-- Ícones se ESTIVER logado -->
  <div class="icones-escolha" *ngIf="validarService.isLogado$ | async">
    <button mat-icon-button [matMenuTriggerFor]="menuCliente">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menuCliente="matMenu">
      <button mat-menu-item routerLink="cliente/minha-Conta">
        <mat-icon>person</mat-icon>
        <span>Minha Conta</span>
      </button>
      <button mat-menu-item routerLink="cliente/meus-pedidos">
        <mat-icon>shopping_cart</mat-icon>
        <span>Meus Pedidos</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <!-- Ícone carrinho -->
  <button mat-icon-button routerLink="cliente/carrinho">
    <mat-icon class="cart">shopping_cart</mat-icon>
  </button>

</mat-toolbar>
